@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
 font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#__next {
  height: 100%;
}




body {
  background: var(--background);
  color: var(--foreground);
}
