@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Playwrite+US+Trad+Guides&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#__next {
  height: 100%;
}




body {
  background: var(--background);
  color: var(--foreground);
}
